{% extends 'base.html'%}
{% load static %}
{% block childpage %}
<div class="text-center fs-2">Break<b class="txt-mycolor">
    Fast
<i class="fa-solid fa-address-card"></i></a>
</b></div>

    <div class="col-sm-6 ps-5 ">
        <h2>Break<b class="txt-mycolor ">Fast</b></h2>
        <p>Breakfast has been suggested to have a positive effect on learning in children in terms of behaviour, cognitive development and school performance.Children of migrant workers, daily wagers and parents coming from low-income sections, hardly get 1 wholesome meal a day.Gracious Givers is a NGO in India that serves mid-day meals to children in India. Apart from serving school lunches, the Foundation also serves breakfast to children.Meals served as a part of the Programme:Tomato Bhath/ Methi Bhath

Rawa Upma,Idli and sambar,Khichdi Sweet/Khara Pongal,Bisi Bele Bhath.Each meal costs: Rs.15
Kitchens preparing breakfast: Visakhapatnam and Hyderabadand Feeding days: Five days a week (Monday to Friday)
Your contributions will not just energise children for a good start but will also enable us to expand our feeding programme to other locations of India.
The unprecedented COVID-19 crisis indeed caught us all off-guard, but the most affected were the low-income segment of society. To support the needy, The Akshaya Patra Foundation began its relief efforts on 25 March 2020. The Anganwadi Programme is one of its relief services to support the food and hygiene needs of Anganwadi beneficiaries.
            According to the Food and Nutrition Board, pregnant and lactating women require 135g and 160g respectively every day.</p></div>
{% endblock %}