{% extends 'base.html'%}
{% load static %}
{% block childpage %}
<div class="text-center fs-2">Personal <b class="txt-mycolor">
    Details
<i class="fa-solid fa-user"></i>
</b></div>
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12"></div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="border:8px groove #ff2400; margin-top:40px;">
        <p style="text-align:center; "><b style="font-size:28px;">Name: </b><b style="font-size:20px;">Rajan Yadav</b></p>
        <p style="text-align:center; "><b style="font-size:28px;">Email: </b><b style="font-size:20px;">yony4695@gmail.com</b></p>
        <p style="text-align:center; "><b style="font-size:28px;">College: </b><b style="font-size:20px;">Prasad Institute of Technology Jaunpur</b></p>
        <p style="text-align:center; "><b style="font-size:28px;">Course: </b><b style="font-size:20px;">B.Tech</b></p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12"></div>
</div>
{% endblock%}