{% extends 'base.html'%}
{% load static %}
{% block childpage %}
<div class="text-center fs-2">Upcoming <b class="txt-mycolor">
    Events
<i class="fa-solid fa-calendar-days"></i>
</b></div>
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
             {% for i in eventdata %}
    <div class="col-sm-3 py-2">
      <div class="card ">
        <img src="/{{i.event_video}}" class="card-img-top"/>
        <div class="card-body">
          <h5 class="card-title">{{i.event_title}}</h5>
            <span>{{i.event_purpose}}</span>
          </br>
          <a href="/user/viewevent?ms={{i.id}}" class="btn bg-mycolor text-dark mt-2 btn-sm rounded-pill">View more
          <i class="fa-solid fa-eye"></i> </a></br>
            <span class="text-muted" style="font-size:14px;">
              <i class="fa-solid fa-calendar-days"></i>
                {{i.event_date}}
              </span>

        </div>
      </div>
    </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}