{% extends 'base.html'%}
{% load static %}
{% block childpage %}
<div class="text-center fs-2">ANGANWADI<b class="txt-mycolor">
    Feeding
<i class="fa-solid fa-address-card"></i></a>
</b></div>

    <div class="col-sm-6 ps-5 ">
        <h2>ANGANWADI<b class="txt-mycolor ">Feeding</b></h2>
        <p>Healthy food and hygiene boost immunity in pregnant women,
            nursing mothers and children. So, Gracious Givers is providing essential
            kits containing nutritious food items and hygiene products
            to Anganwadi beneficiaries.Each kit is packed with:GLUCOSE BISCUITS,DOUBLE FORTIFIED SALT,
            JAGGERY MILK POWDER,MOONG DAL,SPICES,HORLICKS,HYGIENE KIT
            New mothers and growing children need your help the most at this moment.
            SUPPORT ANGANWADI KIT PROGRAMME AS GENEROUSLY AS YOU CAN.
        </p></div>
{% endblock %}