{% extends 'base.html'%}
{% load static %}
{% block childpage %}
<style>
    .form-control
    {
    margin-bottom:2%;
    }
</style>
<div class="text-center fs-2">Need a <b class="txt-mycolor">
    Help
<i class="fa-solid fa-helicopter-symbol"></i>
</b></div>

<div class="row">
    <div class="col-sm-10 mx-auto rounded p-5" style="background:#e4e4e4;">
        <div class="row">
            <div class="col-sm-6">
                <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
     Name<input type="text" name="name" required placeholder="Name.." class="form-control"/>
      Mobile
     <input type="number" name="mobile" required placeholder="Mobile.." class="form-control"/>
     Profile Picture
     <input type="file" name="fu" required class="form-control"/>
     Type of Help
     <input type="text" name="helptype" placeholder="Type of Help.." required class="form-control"/>
      Address <textarea  class="form-control" name="address" placeholder="Address"></textarea>
     Message <textarea  class="form-control" name="message" placeholder="Address"></textarea>
   <input type="submit" value="Save" class="btn bg-mycolor text-light">
</form>

            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
{% endblock %}