{% extends 'base.html'%}
{% load static %}
{% block childpage %}
<div class="text-center fs-2">Homeless<b class="txt-mycolor">
    Mother
<i class="fa-solid fa-address-card"></i></a>
</b></div>

    <div class="col-sm-6 ps-5 ">
        <h2>Homeless<b class="txt-mycolor">Mother</b></h2>
        <p>Gracious Givers has started serving meals to homeless mothers.
Currently, the NGO is feeding them in Vrindavan to ensure that they can live a life of dignity and respect. Cooked meals are provided to a thousand of them to ensure that women who live alone, are not devoid of healthy meals.
DONATE FRESHLY COOKED MEALS WITH YOUR SUPPORT
There are over 40 million widowed women in India.
That means that 10% of the female population are living without their husbands.
Many of them are abandoned by their families and children, hunger is the immediate issue that needs to be addressed. A moderately active woman should consume 1,800-2,200 calories a day. Hot, fresh, nutritious and hygienic meals help them survive and ward off diseases that come their way.
FEED HEALTHY MEALS TO HOMELESS MOTHERS WITH Gracious Givers
Every meal is priced at a nominal amount of ₹25. With your support today, homeless mothers can savor every morsel of the food that they eat. Every meal is packed with the right amount of nutrition, vitamins and proteins that is needed by these women who are destitute of a wholesome meal.
Support Gracious Givers #FeedTheHomelessMothers to provide meals to the women without husbands, who are single mothers, old and frail, pregnant, etc. Your contributions can feed them while they fend for themselves.
PROVIDE SUPPORT TO EMPOWER HOMELESS MOTHERS WITH THE HOPE OF MEALS.
        </p></div>
{% endblock %}