{% extends 'base.html'%}
{% load static %}
{% block childpage %}
<div class="text-center fs-2">PM-POSHAN<b class="txt-mycolor">
    Programme
<i class="fa-solid fa-address-card"></i>
</b></div>
    <div class="col-sm-6 ps-5 ">
        <h2>PM<b class="txt-mycolor ">Poshan</b></h2>
        <p>In response to the unprecedented crisis created in the field of education due to school closures, the government reacted swiftly and designed remote learning policies. The most common of them all was digital instruction.
“At least 463 million school children in the world, were unable to access remote learning during 2020 ” – UNICEF
The major contributing factor to reduced learning capabilities in children is directly impacted by health and nutrition. Evidence in India has shown that food insecurity during childhood reduced reading capability and numeracy scores while resulting in depleting short-term memory. Mid-day meals are a great incentive to bring children back to school and a means to keep their nutritional levels in check. Nutritious meals help children concentrate in class and help in eliminating classroom hunger.
Gracious Givers Foundation serves midday meals to school children in government and government-aided schools of India.
Children have come back to school after 1.5 years of being away from school.
            This year, children from challenging socio-economic backgrounds have spent 6
            months studying at home (with or without healthy food), but, they yet have 4
            more months to gain the best of the knowledge and become healthier each day.
            While you help them with midday meals, you gain tax exemption u/s 80G too.</p></div>

{% endblock %}