{% extends 'base.html'%}
{% load static %}
{% block childpage %}
<div class="text-center fs-2"><b class="txt-mycolor">Vission  </b>&
    <b class="txt-mycolor">Mission
    <i class="fa-solid fa-eye-low-vision"></i>
    </b></div>
 <div class="row">
     <div class="col-sm-7"></div>
     <div class="col-sm-5" style="background:var(--bgcolor);">
     <h2 style="padding-left:80px;">What We Strive<b class="txt-mycolor "> Towards</b></h2>
         </div>
 </div>
<div class="row">
     <div class="col-sm-5" style="background:var(--bgcolor);">
         <h2 style="padding-left:80px;">How We Bring<b class="txt-mycolor "> A Change</b></h2></div>
     <div class="col-sm-7"></div>
 </div><br/>
            <h4>What Sets Us Apart :</h4></br>
<p>We believe that every life is precious and worth saving. Our mission is to make a positive and lasting impact on the world by providing lifesaving assistance to those in need,
            regardless of their circumstances. We are a passionate and dedicated team of individuals who are committed to making the world a safer place for everyone.</p>
        <p><br/>

           <h5> We take pride in our unique approach to lifesaving-</h5></br>
 <b>Rapid Response:</b> We are committed to delivering rapid and effective assistance to those in immediate need. Our teams are trained and equipped to deploy quickly to disaster-stricken areas, ensuring that help arrives when it's needed most.

           </br> </br> <b>Local Engagement:</b> We work closely with local communities to understand their needs and empower them to take an active role in their own recovery. We believe in building resilience from within.

            </br> </br>  <b>Sustainability:</b> While our immediate focus is on saving lives, we also invest in long-term solutions that address the root causes of crises. We believe in sustainable development that creates lasting change.</p>
    </div>

{% endblock %}